.switcher{
    position: absolute;
    bottom: calc(6em + 5vh);
    display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
}

@media only screen and (min-width: 768px) {
    .switcher{
        position: absolute;
        bottom: 50%;
        display: flex;
        padding-right: calc(100vw / 4);
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 50px;
    }
  } 


  