@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* body {
  font-family: "Open Sans", sans-serif;
  color: white;
} */

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  color: white;
  /* prevent overscroll bounce*/
  background-color: black;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */
  width: 100%;
}

.skill-wrapper{
  height: 100%;
  width: 100%;
  padding-top: 25px;
  /* -ms-overflow-style: none;  
  scrollbar-width: none;  
  overflow-x: hidden;
  overflow-y: scroll; */
}
.content__bottom2 {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 18px;
  background-color: black;
  /* width: 100%; */
  /* margin: auto 0 0 0; */
}

.skill-wrapper::-webkit-scrollbar {
  display: none;
}



.skills {
  width: 78%;
  max-width: 960px;
  height: 100%;
  margin: auto;
  position: relative;
}

.lines {
  height: 100%;
  position: relative;
}

.line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(238, 238, 238, 0.178);
}
.line.l--0 {
  left: 0;
}
.line.l--25 {
  left: 25%;
}
.line.l--50 {
  left: 50%;
}
.line.l--75 {
  left: 75%;
}
.line.l--100 {
  left: calc(100% - 1px);
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  top: -15px;
  right: -50px;
}
.line__label.title {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .line__label {
    font-size: 9px;
  }
}



.charts {
  width: 100%;
  height: calc(100% - 14px);
  position: absolute;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  top: 14px;
  left: 0;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  .charts {
    height: calc(100% - 14px);
  }
}
.charts::-webkit-scrollbar {
  display: none;
}
.chart:not(:first-child) {
  margin-top: 10px;
}

.chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  color: #4cffc0;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
.chart--prod .chart__title {
  animation-delay: 3.3s;
}
.chart--design .chart__title {
  animation-delay: 4.5s;
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 26px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #ff000080, #ff0071);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  overflow: hidden;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  animation: 1s anim-lightspeed-in ease forwards;
}
.chart--dev .chart__bar:nth-of-type(20) {
  animation-delay: 3.9s;
}
.chart--dev .chart__bar:nth-of-type(19) {
  animation-delay: 3.9s;
}
.chart--dev .chart__bar:nth-of-type(18) {
  animation-delay: 3.9s;
}
.chart--dev .chart__bar:nth-of-type(17) {
  animation-delay: 3.9s;
}
.chart--dev .chart__bar:nth-of-type(16) {
  animation-delay: 3.7s;
}
.chart--dev .chart__bar:nth-of-type(15) {
  animation-delay: 3.5s;
}
.chart--dev .chart__bar:nth-of-type(14) {
  animation-delay: 3.3s;
}
.chart--dev .chart__bar:nth-of-type(13) {
  animation-delay: 3.1s;
}
.chart--dev .chart__bar:nth-of-type(12) {
  animation-delay: 2.9s;
}
.chart--dev .chart__bar:nth-of-type(11) {
  animation-delay: 2.7s;
}
.chart--dev .chart__bar:nth-of-type(10) {
  animation-delay: 2.5s;
}
.chart--dev .chart__bar:nth-of-type(9) {
  animation-delay: 2.3s;
}
.chart--dev .chart__bar:nth-of-type(8) {
  animation-delay: 2.1s;
}
.chart--dev .chart__bar:nth-of-type(7) {
  animation-delay: 1.9s;
}
.chart--dev .chart__bar:nth-of-type(6) {
  animation-delay: 1.7s;
}
.chart--dev .chart__bar:nth-of-type(5) {
  animation-delay: 1.5s;
}
.chart--dev .chart__bar:nth-of-type(4) {
  animation-delay: 1.3s;
}
.chart--dev .chart__bar:nth-of-type(3) {
  animation-delay: 1.1s;
}
.chart--dev .chart__bar:nth-of-type(2) {
  animation-delay: 0.9s;
}
.chart--dev .chart__bar:nth-of-type(1) {
  animation-delay: 0.7s;
}
.chart--prod .chart__bar:nth-of-type(5) {
  animation-delay: 4.8s;
}
.chart--prod .chart__bar:nth-of-type(4) {
  animation-delay: 4.6s;
}
.chart--prod .chart__bar:nth-of-type(3) {
  animation-delay: 4.4s;
}
.chart--prod .chart__bar:nth-of-type(2) {
  animation-delay: 4.2s;
}
.chart--prod .chart__bar:nth-of-type(1) {
  animation-delay: 4s;
}
.chart--design .chart__bar:nth-of-type(5) {
  animation-delay: 6.0s;
}
.chart--design .chart__bar:nth-of-type(4) {
  animation-delay: 5.8s;
}
.chart--design .chart__bar:nth-of-type(3) {
  animation-delay: 5.6s;
}
.chart--design .chart__bar:nth-of-type(2) {
  animation-delay: 5.4s;
}
.chart--design .chart__bar:nth-of-type(1) {
  animation-delay: 5.2s;
}
.chart--other .chart__bar:nth-of-type(5) {
  animation-delay: 7.0s;
}
.chart--other .chart__bar:nth-of-type(4) {
  animation-delay: 6.8s;
}
.chart--other .chart__bar:nth-of-type(3) {
  animation-delay: 6.6s;
}
.chart--other .chart__bar:nth-of-type(2) {
  animation-delay: 6.4s;
}
.chart--other .chart__bar:nth-of-type(1) {
  animation-delay: 6.2s;
}

.chart__label {
  padding-left: 10px;
  line-height: 26px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}